<tr>
  <td align="left" bgcolor="#ffffff" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-rspace: 0pt; mso-table-lspace: 0pt; padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #6E6E6E">
    <% text.lines.each do |line| %>
      <p style="margin: 0;"><%= line %></p>
    <% end %>
  </td>
</tr>