<!-- コンバージョン用のボタン -->
<tr>
  <td align="left" bgcolor="#ffffff" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; mso-table-rspace: 0pt; mso-table-lspace: 0pt; padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;">
    <a href="<%= url %>" target="_blank" style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; cursor: pointer;color: #fff;font-size: 17px;font-weight: bold;letter-spacing: 4px;text-decoration: none;background: #6fc173;border-radius: 5px;box-shadow: 0 3px #449f49;position: relative;display: block;top: -2px;padding: 15px;text-align: center; margin: 10px 0">
      <%= text %>
    </a>
  </td>
</tr>

