
<div class="px-4">
  <div class="w-100 d-block py-5"></div>
  <h1 class="top-heading pt-5 text-white text-center font-weight-bold mb-3">タフリンガル</h1>
  <h3 class="text-white font-weight-bold text-center my-4">東京外国語大学の現役生/卒業生による<br>オンライン英語個別指導塾</h3>
  <h5 class="text-white text-center">中学高校生の学習サポート/入試対策から大人の学び直しまで</h5>

  <div class="one-column-wrapper px-3 my-4 text-center">

    <div class="btn btn-lg btn-light-green w-100 rounded-pill modal-show-signup font-weight-bold d-none d-sm-block move-to-catalog-request">無料で資料請求</div>

  </div>
</div>
