/* bootstrapに用意されているクラスの上書き */
@import "./variables";

// パンくずリスト
.breadcrumb-item {
  a {
    color: $emerald-green;

    &:hover {
      color: #2E7D32;
    }
  }
}







/* ナビゲーションメニュー */
#nav-menu {
  height: 48px; /*メニューの縦幅*/
  background-color: $brand-black; /*メニューの背景色*/
  width: 100%;

  .nav-menu-inner {
    list-style-type: none;
    height: 100%;
    margin: 0 auto;
    padding: 4px 0 0 0;

    .active {
      font-weight: bold;

      a {
        color: $bright-green;
      }
      padding-bottom: 8px;
      //border-bottom: solid 3px $bright-green;
    }
  }

  li {
    height: 100%;
    display: inline;
  }

  a {
    display: inline-block;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    color: darkgrey; /*文字色*/
    font-size: 15px;
    text-decoration: none;
    line-height: 40px; /*メニューの縦幅*/

    &:hover {
      color: $bright-green;
    }
  }

  @media(max-width: 670px) {
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    .nav-menu-inner {
      margin: 0;
      li {
        float: left;
      }
    }
  }
}

/* custom-file-input 参考：https://codepen.io/cccabinet/pen/VXaemy */
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}

