<tr>
  <th>英作文添削(自由作文/長文要旨)</th>
</tr>
<tr>
  <td class="plan-price">3,000<span> 円／月</span><br>300<span>words</span></td>
</tr>
<tr>
  <td>テスト対策から日常生活まで</td>
</tr>
<tr>
  <td>長文要約/自由作文も対応</td>
</tr>
<tr>
  <td><b>字数制限の範囲なら何回でもOK</b></td>
</tr>
<tr>
  <td>優秀な外大生が添削・コメント</td>
</tr>
<tr>
  <td><b>+2500円ごとに300words追加可能</b></td>
</tr>