<tr>
  <th>英語(文法、読解)</th>
</tr>
<tr>
  <td class="plan-price">10,000<span> 円／月</span><br>100<span>分</span></td>
</tr>
<tr>
  <td>個々の学習計画に基づく個別指導</td>
</tr>
<tr>
  <td>日程は講師と都度相談</td>
</tr>
<!--
<tr>
  <td><b>料金は時間で決定</b></td>
</tr>
<tr>
  <td><b>追加受講も時間単位で可能</b></td>
</tr>
-->
<tr>
  <td>教材は生徒様に合わせて決定</td>
</tr>
<tr>
  <td><b>+7000円ごとに100分の追加講義</b></td>
</tr>