<tr>
  <th>英会話</th>
</tr>
<tr>
  <td class="plan-price">10,000~<span> 円／月</span><br>80<span>分</span></td>
</tr>
<tr>
  <td>日常会話から入試対策まで</td>
</tr>
<tr>
  <td>海外滞在経験/留学経験のある講師</td>
</tr>
<tr>
  <td>時間はライフスタイルに合わせて</td>
</tr>
<tr>
  <td>学習目的に合わせた指導内容</td>
</tr>
<tr>
  <td><b>+7000円ごとに80分の追加講義</b></td>
</tr>